@use "./reset.scss";
@use "./fonts.scss";
@use "./mixins.scss" as *;

:root {
  --slider-ipad-height: 400px;
}

body {
  font-family: "ProximaNova", sans-serif;
  overflow-x: hidden;
  width: 100%;
  background-color: #111;
  scroll-behavior: smooth;
}
.main-wrapp {
  max-width: 1440px;
  padding: 0 40px;
  margin: 0 auto;

  @include mobile {
    padding: 0 20px;
  }

  @media (max-width: 760px) {
    padding: 0 10px;
  }
}
.background-dark {
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
