@use "../../app/styles/mixins.scss" as *;

.circle-wrapp {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  margin: 100px auto;

  @media (max-width: 1440px) {
    grid-template-columns: repeat(2, 1fr);
    margin: 50px auto;
    max-width: 800px;
  }

  @media (max-width: 900px) {
    display: none;
  }
}
.circle-item {
  display: flex;
  justify-content: center;
  align-content: center;
}
.circle {
  width: 295px;
  height: 295px;
}
.circle-mobile {
  display: none;
  padding-bottom: 20px;

  @media (max-width: 900px) {
    width: 300px;
    display: flex;

    justify-content: center;
    align-items: center;
  }
}
.circle-mobile--wrapp {
  margin: 50px auto;
}
.slider-image2 {
  margin: 20px 0;
}
