@use "../../app/styles/mixins.scss" as *;
.hero {
  background-color: #111;
  color: #fff;
  padding: 40px 0;
}
.hero-wrapp {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;

  @include mobile {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.hero-wrapp--left {
  flex: 2;
  width: 100%;
  position: relative;
}
.big-background {
  width: 100%;
  height: 690px;

  @include mobile {
    height: 600px;
  }
}
.hero-wrapp--left-inner {
  position: absolute;
  top: 0;
  padding: 55px 65px 35px 35px;

  @media (max-width: 750px) {
    position: absolute;
    top: 50px;
    padding: 0 20px 0 20px;
  }
}
.main-header {
  font-weight: 800;
  font-size: clamp(36px, 6vw, 104px);
  line-height: 96%;
  text-transform: uppercase;
  max-width: 800px;

  &--gradient {
    background: linear-gradient(
      54.2deg,
      #5cd6b3 3.08%,
      #04b8c4 3.09%,
      #4bfa8a 98.66%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    background-clip: text;
    color: transparent;
  }
}
.hero-wrapp--right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 0;
}
.hero-img {
  width: 300px;
  height: 300px;
}
.description-wrapp {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 50px;
  column-gap: 30px;
  row-gap: 40px;

  @media (max-width: 1340px) {
    flex-direction: column;
  }

  @include mobile {
    margin-top: 30px;
  }
}
.description {
  font-family: var(--font-manrope), sans-serif;
  font-weight: 400;
  font-size: clamp(14px, 16px, 18px);
  line-height: 160%;
  max-width: 500px;
}
.expertise {
  display: inline-block;
  border: 1px solid #565656;
  border-radius: 266px;
  padding: 0 8px;
  margin-top: 5px;
}
.expertise-nowrap {
  white-space: nowrap;
}
.expertise-italic {
  font-family: var(--font-baskerville), sans-serif;
  font-style: italic;
}
.green-button {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  height: 70px;
  width: 280px;
  background: linear-gradient(
    46.54deg,
    #15bcdf -5.73%,
    #0ddc7a 60.35%,
    #15bcdf 101.73%
  );
  border-radius: 66px;

  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  text-transform: uppercase;
  cursor: pointer;
}
.green-button-image {
  width: 42px;
  height: 42px;
}
.reviews-block {
  margin-top: 20px;
  font-family: var(--font-manrope), sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 150%;
  letter-spacing: 16%;
  text-align: center;
  text-transform: uppercase;
  color: #848484;
  max-width: 180px;
}
.reviews-block-white {
  font-weight: 700;
  color: #ffffff;
}
.button-wrapp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (max-width: 750px) {
    width: 100%;
  }
}
.slider-wrapp {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;

  @include mobile {
    flex-direction: row;
    column-gap: 10px;
  }

  @media (max-width: 750px) {
    flex-direction: column;
  }
}
.slider-background-img {
  width: 100%;
  height: 380px;

  @include mobile {
    height: var(--slider-ipad-height);
  }
}
.price-block {
  position: relative;
  top: -130px;
  z-index: 1;

  @include mobile {
    top: 0;
    width: 700px;
  }

  @media (max-width: 750px) {
    top: -130px;
    width: 100%;
  }
}
.gradient-img {
  position: absolute;
  top: 0;
  left: 0px;
  width: 375px;
  height: 400px;
}
.calendar-wrapp {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 10px;

  font-family: var(--font-manrope), sans-serif;
  font-weight: 700;
  font-size: clamp(12px, 13px, 14px);
  line-height: 140%;
  text-transform: uppercase;

  position: absolute;
  top: 30px;
  left: 30px;
}
.calendar-img {
  width: 36px;
  height: 36px;
  object-fit: cover;
}
.price-block-header {
  font-weight: 700;
  font-size: 38.75px;
  font-size: clamp(32px, 3vw, 38px);
  line-height: 120%;

  position: absolute;
  left: 30px;
  top: 90px;
}
.price-block-description {
  font-family: var(--font-manrope);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #a2a2a2;

  position: absolute;
  left: 30px;
  top: 150px;
}
.price-wrapp {
  display: flex;
  flex-direction: column;
  gap: 30px;

  position: absolute;
  left: 30px;
  top: 230px;
  width: calc(100% - 50px);
}
.price-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price-name {
  font-family: var(--font-manrope);
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  color: #a2a2a2;
}
.price-value {
  font-weight: 600;
  font-size: 22px;
  line-height: 100%;
  color: #fff;
}
